.bg-trans {
    background-color: white;
    /* transparent !important; */
}


input.ng-invalid.ng-touched {
  border: 2px solid red;
}

.err-alert {
  background: #f2edda;
  padding: 7px;
  font-size: .9em;
  margin-bottom: 20px;
  display: inline-block;
  animation: 2s alertAnim forwards;
}

@keyframes alertMin {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


