<div class="row mt-5">
    <div class="col-6 offset-3">
        <div class="card bg-trans border-deep-cyan">
            <div class="card-body">
                <h5 class="card-title">User Login</h5>
                <!-- <p class="card-text">Content</p> -->
                <div *ngIf="!email; else formInfo">
                  <!-- display this sectuion if email is not submmitted or isnotset -->
                  <form action="" method="post" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
                      <div class="form-group row col-12">
                        <label for="email" class="float-left">Enter your email *</label>
                        <input type="text" class="form-control" id="email" name="email" formControlName="email">
                        <!-- the formcontrolname must match the name given to the validators object  -->
                        <small *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched" class="form-text text-muted err-alert float-left">This field requires a valid email address</small>
                        <!-- <small *ngIf="rForm.controls['email'].errors.required && rForm.controls['email'].touched" class="form-text text-muted err-alert float-left">{{ titleAlert }}</small>
                        <small *ngIf="rForm.controls['email'].errors.pattern && rForm.controls['email'].touched" class="form-text text-muted err-alert float-left">Please provide a valid email</small> -->
                      </div>
                      <div class="form-group row col-12">
                        <label for="password" class="float-left">Enter your password *</label>
                        <input type="password" class="form-control" id="password" name="password" formControlName="password">
                        <small *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched" id="passhelpId" class="form-text text-muted float-left err-alert">Please Enter your password</small>
                      </div>
                      <!-- <div class="form-group bg-danger my-5">
                          <div class="custom-control custom-checkbox small float-left">
                            Minimum of 3 characters
                            <input type="checkbox" class="custom-control-input" id="customCheck" value="1" formControlName="validate">
                            <label class="custom-control-label" for="customCheck">On</label>
                          </div>
                        </div> -->

                      <button type="submit" class="btn btn-primary btn-md float-left mt-3 waves-effect waves-light" [disabled]="!rForm.valid">Login</button>
                  </form>
                  <div class="text-center row col-12 mt-5">
                    <p>Don't have an account yet? <a routerLink="/register">Sign up here</a> </p>
                  </div>
                </div>



                <ng-template #formInfo>
                  {{ email }}
                  {{ password }}
                </ng-template>

            </div>
        </div>
    </div>
</div>
